.FitnessApp {
    width: 900px;
    margin: 0 auto;
}

/*.pc-ul a:focus {*/
    /*color: green;*/
    /*font-weight: bold;*/
/*}*/

.activeA {
    font-size: 24px;
    color: green;
    font-weight: bold;
}

.prog-square {
    font-size: 24px;
    margin-right: 10px;
    margin-bottom: 5px;
    display: block;
    width: 190px;
    height: 190px;
    background-color: #28a745;
    color: yellow;
    padding: 60px 0;
    text-align: center;
}

.x {
    color: red;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}

.const-menu {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
}